html,
body {
    margin: 0px;

}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: minmax(140px ,1fr) 5fr;
    height: 100vh;
}

.container > div {
    border: solid black 1px;
}

.sidebar {
    grid-row: span 2;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    background-color: #f4f4f5;;
    
}

.sidebar > .dashboard {
    display: grid;
    grid-template-columns: 40px 70%;
    font-size: 30px;
    gap: 20px;
}

.sidebar > .dashboard::before {
    display: inline-block;
    content: "";
    height: 50px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px;
    background-image: url(img/view-dashboard-outline.svg);
}

.sidebar > div {
    border: dotted black 1px;
}

.sidebar > div > ul > li {
    list-style: none;
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 10px
    ;
}

.sidebar-list {
    padding: 20px;
}

.sidebar-list li::before {
    display: inline-block;
    content: "";
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px;
}


.sidebar-list :nth-child(1)::before {
    background-image: url(img/home-outline.svg);
}

.sidebar-list :nth-child(2)::before {
    background-image: url(img/account-outline.svg);
}

.sidebar-list :nth-child(3)::before {
    background-image: url(img/message-outline.svg);
}

.sidebar-list :nth-child(4)::before {
    background-image: url(img/history.svg);
}

.sidebar-list :nth-child(5)::before {
    background-image: url(img/file-outline.svg);
}

.sidebar-list :nth-child(6)::before {
    background-image: url(img/account-group-outline.svg);
}

.sidebar-list-b {
    padding: 20px;
}

.sidebar-list-b li::before {
    display: inline-block;
    content: "";
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px;
}


.sidebar-list-b :nth-child(1)::before {
    background-image: url(img/cog-outline.svg);
}

.sidebar-list-b :nth-child(2)::before {
    background-image: url(img/face-agent.svg);
} 

.sidebar-list-b :nth-child(3)::before {
    background-image: url(img/shield-outline.svg);
} 

.header {
    display: grid;
    grid-template-rows: 2fr 3fr;
}

.header > div {
    border: dotted black 1px;
}

.main {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.main > div {
    border: dotted black 1px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 4fr;
    gap: 15px;
    padding: 15px;
    background-color: #f4f4f5;
}

.projects > p {
    grid-column: span 2;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    align-self: end;
}

.projects  .box {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 4fr repeat(3, 40px);
    max-width: 450px;
    max-height: 250px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    box-shadow: 2px 2px 4px 0px rgba(194,194,194,1);
    background-color: white;
}

.projects .box p {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.projects .box h3 {
    grid-column: 1 / -1;
    
}


.box .box-icon:first-of-type {
    background-image: url(img/heart-outline.svg);
    display: inline-block;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    grid-column: 2 / 3;
    
}

.box .box-icon:nth-of-type(2) {
    background-image: url(img/tag-outline.svg);
    display: inline-block;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.box .box-icon:nth-of-type(3) {
    background-image: url(img/share-outline.svg);
    display: inline-block;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.annoucements {
    background-color: #f4f4f5;

}
